@import url('./components.css');
@import url('./sitemap.css');

html,
body {
  font-size: 16px;
}

.profileImage {
  background-image: url("../images/avatar.jpeg");
}

html:focus-within {
  scroll-behavior: smooth;
}

.center-div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page {
  /* max-width: 960px; */
  margin: 0 auto;

}

.page>div:nth-of-type(odd):not(.heroBlock) {
  background: linear-gradient(90deg, #ffffffc7, transparent);
}

.page>div:nth-of-type(even):not(.heroBlock) {
  background: linear-gradient(90deg, transparent, #ffffffc7);
}